## Импортируем библиотеки

In [1]:
import pickle
import pandas as pd
import numpy as np
import re

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

#### Загрузим предобработанные данные

In [2]:
with open ('tweet.pkl', 'rb') as file:
    df = pickle.load(file)
    
df.head(2)

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunctional, selfish, drag, kid, dy..."
1,2,0.0,thanks for lyft credit use cause they offer wh...,"[thanks, for, lyft, credit, use, cause, they, ...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc...","[thanks, lyft, credit, use, cause, offer, whee..."

__Задание 1: Создайте мешок слов с помощью CountVectorizer.__<br>
<br>
Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.<br>
Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.<br>
Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.<br>
Исключим стоп-слова с помощью stop_words='english'.<br>
Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью CountVectorizer.get_feature_names().

In [3]:
c_vectorizer = CountVectorizer(max_df=0.9, max_features=1000, stop_words='english')

__tweet_stemmed__

In [4]:
values = c_vectorizer.fit_transform([' '.join(el) for el in df.tweet_stemmed])

bowcv_tweet_stemmed = pd.DataFrame(values.toarray(), columns=c_vectorizer.get_feature_names())
bowcv_tweet_stemmed.head(2)

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yeah,year,yesterday,yo,yoga,york,young,youtub,yr,yummi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

__tweet_lemmatized__

In [5]:
values = c_vectorizer.fit_transform([' '.join(el) for el in df.tweet_lemmatized])

bowcv_tweet_lemmatized = pd.DataFrame(values.toarray(), columns=c_vectorizer.get_feature_names())
bowcv_tweet_lemmatized.head(2)

,able,absolutely,account,act,action,actor,actually,adapt,add,adventure,...,year,yes,yesterday,yo,yoga,york,young,youtube,yr,yummy
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

__Задание 2: Создайте мешок слов с помощью TfidfVectorizer.__<br>
<br>
Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.<br>
Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.<br>
Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.<br>
Исключим стоп-слова с помощью stop_words='english'.<br>
Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью TfidfVectorizer.get_feature_names().

In [6]:
tfidf_vectorizer = TfidfVectorizer(max_df=0.9, max_features=1000, stop_words='english')

__tweet_stemmed__

In [7]:
values = tfidf_vectorizer.fit_transform([' '.join(el) for el in df.tweet_stemmed])

bowtfidf_tweet_stemmed = pd.DataFrame(values.toarray(), columns=tfidf_vectorizer.get_feature_names())
bowtfidf_tweet_stemmed.head(2)

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yeah,year,yesterday,yo,yoga,york,young,youtub,yr,yummi
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

__tweet_lemmatized__

In [8]:
values = tfidf_vectorizer.fit_transform([' '.join(el) for el in df.tweet_lemmatized])

bowtfidf_tweet_lemmatized = pd.DataFrame(values.toarray(), columns=tfidf_vectorizer.get_feature_names())
bowtfidf_tweet_lemmatized.head(2)

,able,absolutely,account,act,action,actor,actually,adapt,add,adventure,...,year,yes,yesterday,yo,yoga,york,young,youtube,yr,yummy
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

__Задание 3: Проверьте векторайзеры__<br>
Составьте таблицу метод векторизации и скор (в методах векторизации поизменяйте параметры, чтобы добиться лучшего скора)<br>
Обратите внимание как падает/растёт скор при уменьшении количества фичей и изменении параметров<br>
Попробуйте применить к векторайзерам PCA для сокращения размерности, посмотрите на качество, сделайте выводы

In [9]:
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import HashingVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [10]:
text, label = [], []
with open('corpus') as f:
    while True:
        line = f.readline().strip()
        if not line:
            break
        border = line.find(' ')
        text.append(line[border+1:])
        label.append(line[:border])

In [11]:
le = LabelEncoder()
y = le.fit_transform(label)
y

array([1, 1, 1, ..., 0, 0, 1], dtype=int64)

In [12]:
h_vectorizer = HashingVectorizer(n_features=200, stop_words='english')

list_vectorizer = [c_vectorizer, tfidf_vectorizer, h_vectorizer]

In [13]:
data = pd.DataFrame(text, columns=['text'])
data.head()

                                                text
0  Stuning even for the non-gamer: This sound tra...
1  The best soundtrack ever to anything.: I'm rea...
2  Amazing!: This soundtrack is my favorite music...
3  Excellent Soundtrack: I truly like this soundt...
4  Remember, Pull Your Jaw Off The Floor After He...

In [14]:
import nltk
from nltk.corpus import stopwords
stopw = set(stopwords.words('english'))

In [15]:
def text_preprocessing(text):
    text = list(map(str.lower,text))
    text = [re.sub(r'[^a-zA-Z]', ' ', t) for t in text]
    text = [[el for el in t.split() if len(el)>2] for t in text]
    text = [' '.join([w for w in line if w not in stopw]) for line in text]
    return text

In [16]:
data['preprocessing'] = text_preprocessing(data.text)

stemmer = nltk.stem.PorterStemmer()
data['stemm'] = data.preprocessing.map(lambda x:
     ' '.join([stemmer.stem(word) for word in x.split()]))

lemm = nltk.stem.wordnet.WordNetLemmatizer()
data['lemm'] = data.preprocessing.map(lambda x:
     ' '.join([lemm.lemmatize(word) for word in x.split()]))

data.head(3)

,text,preprocessing,stemm,lemm
0,Stuning even for the non-gamer: This sound tra...,stuning even non gamer sound track beautiful p...,stune even non gamer sound track beauti paint ...,stuning even non gamer sound track beautiful p...
1,The best soundtrack ever to anything.: I'm rea...,best soundtrack ever anything reading lot revi...,best soundtrack ever anyth read lot review say...,best soundtrack ever anything reading lot revi...
2,Amazing!: This soundtrack is my favorite music...,amazing soundtrack favorite music time hands i...,amaz soundtrack favorit music time hand intens...,amazing soundtrack favorite music time hand in...

Разделим набор данных на тренировочный и тестовый

In [17]:
x_train, x_valid, y_train, y_valid = train_test_split(data, y, random_state=42)
x_train.head(3)

,text,preprocessing,stemm,lemm
4901,Not Happy: I recently purchased a used 8 GB Vi...,happy recently purchased used view works well ...,happi recent purchas use view work well view s...,happy recently purchased used view work well v...
4375,This book changed my life!: Dr. Richard Eby ha...,book changed life richard eby experienced many...,book chang life richard ebi experienc mani mir...,book changed life richard eby experienced many...
6698,A Master Teacher!: Avery Dulles takes the untr...,master teacher avery dulles takes untrained re...,master teacher averi dull take untrain reader ...,master teacher avery dulles take untrained rea...

Создадим таблицу "метод векторизации и скор"

In [18]:
result = pd.DataFrame(columns=['CountVectorizer', 'TfidfVectorizer', 'HashingVectorizer'],
                     index=data.columns)
result

              CountVectorizer TfidfVectorizer HashingVectorizer
text                      NaN             NaN               NaN
preprocessing             NaN             NaN               NaN
stemm                     NaN             NaN               NaN
lemm                      NaN             NaN               NaN

Заполним таблицу в цикле

In [19]:
def create_bow(vect, data_train, data_test):
    return vect.fit_transform(data_train).toarray(), vect.transform(data_test).toarray()

In [20]:
def count_score(classifier, x_train, x_test, y_train, y_test):
    classifier.fit(x_train, y_train)
    predictions = classifier.predict(x_test)
    return accuracy_score(y_test, predictions)

In [21]:
classifier = LogisticRegression()

for vectorizer in list_vectorizer:
    for index in result.index:
        vect_name = re.match(r"^\w*",str(vectorizer)).group(0)        
        x_train_vect, x_test_vect = create_bow(vectorizer, x_train[index], x_valid[index])
        result.loc[index, vect_name] = count_score(classifier, x_train_vect, x_test_vect, y_train, y_valid)

In [22]:
result

              CountVectorizer TfidfVectorizer HashingVectorizer
text                    0.816            0.83             0.702
preprocessing          0.8204          0.8276            0.6988
stemm                    0.82            0.83            0.7052
lemm                   0.8216          0.8316            0.6952

In [23]:
from sklearn.decomposition import PCA

In [24]:
%%time
pca = PCA(n_components = 50)

x_train_pca  = pca.fit_transform(create_bow(tfidf_vectorizer, x_train.lemm, x_valid.lemm)[0])
x_test_pca = pca.transform(create_bow(tfidf_vectorizer, x_train.lemm, x_valid.lemm)[1])

count_score(classifier, x_train_pca, x_test_pca, y_train, y_valid)

Wall time: 1.6 s

0.7924

In [25]:
%%time
pca = PCA(n_components = 250)

x_train_pca  = pca.fit_transform(create_bow(tfidf_vectorizer, x_train.lemm, x_valid.lemm)[0])
x_test_pca = pca.transform(create_bow(tfidf_vectorizer, x_train.lemm, x_valid.lemm)[1])

count_score(classifier, x_train_pca, x_test_pca, y_train, y_valid)

Wall time: 3.25 s

0.822

In [26]:
%%time
pca = PCA(n_components = 500)

x_train_pca  = pca.fit_transform(create_bow(tfidf_vectorizer, x_train.lemm, x_valid.lemm)[0])
x_test_pca = pca.transform(create_bow(tfidf_vectorizer, x_train.lemm, x_valid.lemm)[1])

count_score(classifier, x_train_pca, x_test_pca, y_train, y_valid)

Wall time: 6.31 s

0.8264

Таким образом, при уменьшении количества признаков уменьшается время обучения, но при этом не сильно падает качество предсказания.